/* Admin Dashboard styles */
.admin-dashboard {
  padding: 40px; /* Giảm padding để tránh chiếm quá nhiều không gian */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 100px; /* Khoảng cách đều 4 phía */
  width: 100%; /* Đảm bảo phù hợp với không gian còn lại sau Sidebar */
  max-width: 1000px; /* Kích thước tối đa khi không cần full width */
  transition: transform 0.3s ease-in-out;
  min-height: calc(100vh - 10px); 
}

.admin-dashboard h3 {
  font-size: 30px;
  font-weight: bold;
  color: #4c4cd9;
  text-align: center;
  margin-bottom: 20px;
}

.admin-dashboard .error-message {
  color: red;
  font-weight: bold;
}

.admin-dashboard p {
  font-size: 16px;
  color: #555;
}

.admin-dashboard div {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.admin-dashboard div p {
  margin: 5px 0;
}

@media (max-width: 768px) {
  .admin-dashboard {
    margin-left: 0;
    padding: 15px;
  }

  .admin-dashboard h3 {
    font-size: 20px;
  }
}
