/* Setting Container */
.setting-container {
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px 0;
    font-family: Roboto, sans-serif;
    width: 100%;
    max-width: 800px;
    margin: 20px auto; /* Căn giữa container */
  }
  
  /* Heading */
  .setting-container h2 {
    text-align: center;
    font-size: 24px; /* Đặt lại kích thước cho tiêu đề giống như các phần khác */
    margin-bottom: 20px;
    color: #4c4cd9; /* Màu xanh tím cho tiêu đề */
  }
  
  /* Language Setting */
  .language-setting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  /* Label */
  .language-setting label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
  }
  
  /* Language select */
  .language-setting select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc; /* Thay đổi màu biên giống các form khác */
    border-radius: 5px;
    width: 250px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  /* Focus State for Select */
  .language-setting select:focus {
    border-color: #635dff;
    outline: none;
    background-color: #f1f1f1;
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .setting-container {
      width: 90%;
      padding: 15px;
    }
  
    .language-setting select {
      width: 100%;
    }
  }
  