/* Setting Container */
.setting-container {
  padding: 40px; /* Giảm padding để tránh chiếm quá nhiều không gian */
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 100px; /* Khoảng cách đều 4 phía */
  width: 100%; /* Đảm bảo phù hợp với không gian còn lại sau Sidebar */
  max-width: 1000px; /* Kích thước tối đa khi không cần full width */
  transition: transform 0.3s ease-in-out;
  min-height: calc(100vh - 10px); 
  }
  
  /* Heading */
  .setting-container h2 {
    font-size: 30px;
    font-weight: bold;
    color: #4c4cd9;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Language Setting */
  .language-setting {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
  }
  
  /* Label */
  .language-setting label {
    font-size: 14px;
    margin-bottom: 8px;
    color: #333;
  }
  
  /* Language select */
  .language-setting select {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc; /* Thay đổi màu biên giống các form khác */
    border-radius: 5px;
    width: 250px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    text-align: center;
  }
  
  /* Focus State for Select */
  .language-setting select:focus {
    border-color: #635dff;
    outline: none;
    background-color: #f1f1f1;
  }
  
  /* Responsive adjustments */
  @media (max-width: 600px) {
    .setting-container {
      width: 90%;
      padding: 15px;
    }
  
    .language-setting select {
      width: 100%;
    }
  }
  