/* Container của transaction history */
.transaction-history {
  background-color: #fff;
  border-radius: 8px;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 1000px; /* Độ rộng tối đa */
  margin: 100px; /* Nằm giữa theo chiều ngang */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Căn giữa theo chiều dọc */
  align-items: center; /* Căn giữa theo chiều ngang */
  height: 100%;
  min-height: calc(100vh - 40px); /* Chiều cao phù hợp với màn hình */
}

/* Tiêu đề lịch sử giao dịch */
.transaction-history h3 {
  font-size: 30px;
  font-weight: bold;
  color: #4c4cd9;
  text-align: center;
  margin-bottom: 20px; /* Tạo khoảng cách giữa các chữ */
}

/* Table Styles */
table {
  width: 500px;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Thêm bóng cho bảng */
  border-radius: 8px;
}

th, td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
  color: #333;
}

th {
  background-color: #635dff;
  color: white;
  font-weight: 600;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

tr:nth-child(even) {
  background-color: #f9f9f9; /* Đổi màu cho các dòng chẵn */
}

tr:hover {
  background-color: #e0e0e0; /* Thêm hiệu ứng hover cho các dòng */
  transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu mượt mà */
}

/* Nút */
button {
  padding: 12px 24px;
  background-color: #635dff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Thêm hiệu ứng chuyển màu và phóng to khi hover */
}

button:hover {
  background-color: #503de0; /* Màu nền khi hover */
  transform: scale(1.05); /* Tăng kích thước nhẹ khi hover */
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

/* Responsive Layout: khi màn hình nhỏ hơn 768px */
@media (max-width: 768px) {
  .transaction-history {
    margin-left: 0; /* Hủy bỏ margin trái khi màn hình nhỏ */
    width: 100%; /* Nội dung chiếm toàn bộ chiều rộng */
  }

  .transaction-history h3 {
    font-size: 24px;
  }

  table {
    font-size: 12px; /* Giảm kích thước chữ cho bảng trên màn hình nhỏ */
  }
}
